body{
    margin: 0px;
    padding: 0px;
}
header{
    background-image: url('https://i.blogs.es/2abd6e/android-12-developer-preview/1024_2000.jpg');
    background-size: cover;
    height: 350px;
    margin-bottom: 40px;
}
header div{
    width: 100%;
    height: 100%;
}
div span{
    font-size: 60px;
    color: white;
    left: 100px;
    top: 70px;
    background-color: rgba(240, 248, 255, 0.452);
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
}
     header img {
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 70px;
        right: 180px;
        top: 50px;
      }
      nav span {
        margin-right: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
        font-size: 20px;
        background-color: rgb(201, 201, 201);
        border-radius: 10px;
        padding: 15px;
      }
      nav { position: absolute;
        top: 10px;
        left: 80px;
    }
    article h2{
      font-size: 40px;
      color: #6a8a73;
      background-color:#70cf8a ;
      text-align: center;
    } 
    article p{
      font-size: 20px;
      text-align:center;
    }
    